Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

chore(relayer): refactor start function
  relayer-cli/src/relayer.ts
Owners: @jaybuidl, @mani99brar

fix: sonar review
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

feat(validator): devent network support
  validator-cli/src/ArbToEth/claimer.test.ts
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
Owners: @jaybuidl, @mani99brar

chore(validator): refactor for network support
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update subgraph query for multi network
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore(validator): type params & refactor
  validator-cli/src/utils/epochHandler.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update tests for refactor
  validator-cli/src/utils/epochHandler.test.ts
Owners: @jaybuidl, @mani99brar

chore(validator): remove old watcher
  validator-cli/src/watcherDevnet.ts
Owners: @jaybuidl, @mani99brar

fix(validator): existence check
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): udpdate rpc in env example
  validator-cli/.env.dist
Owners: @jaybuidl, @mani99brar

chore(validator): add custom error
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore(validator): pm2 bump & removed web3 dep
  validator-cli/ecosystem.config.js
  validator-cli/package.json
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/watcher.ts
  validator-cli/tsconfig.json
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore(validator): add no claim required log
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

fix(validator): claimable epoch calculation fix
  validator-cli/src/utils/epochHandler.test.ts
  validator-cli/src/utils/epochHandler.ts
Owners: @jaybuidl, @mani99brar

chore: added missing dependency svgo
  veascan-web/package.json
  yarn.lock
Owners: @jaybuidl, @alcercu, @mani99brar

chore: upgrade upload artifact version
  .github/workflows/scorecards.yml
Owners: @jaybuidl, @mani99brar

fix: env file
  relayer-cli/.env.dist
Owners: @jaybuidl, @mani99brar

chore: minor
  relayer-cli/package.json
Owners: @jaybuidl, @mani99brar

chore(relayer): update typechain to ethers v6
  relayer-cli/package.json
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

fix(relayer): clean up lock file on exits
  relayer-cli/src/utils/relayerHelpers.test.ts
  relayer-cli/src/utils/relayerHelpers.ts
Owners: @jaybuidl, @mani99brar

fix(relayer): batcher env var name
  relayer-cli/.env.dist
Owners: @jaybuidl, @mani99brar

chore(relayer): add env var comments
  relayer-cli/.env.dist
Owners: @jaybuidl, @mani99brar

chore(validator): refactor for network support
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update subgraph query for multi network
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore: env.dist update
  validator-cli/.env.dist
Owners: @jaybuidl, @mani99brar

feat: claimer
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/cli.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/graphQueries.ts
  validator-cli/src/utils/logger.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix: happy path logs
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update tests for refactor
  validator-cli/src/utils/epochHandler.test.ts
Owners: @jaybuidl, @mani99brar

feat: claimer tests
  validator-cli/src/ArbToEth/claimer.test.ts
  validator-cli/src/ArbToEth/claimer.ts
Owners: @jaybuidl, @mani99brar

feat: multi network support
  validator-cli/.env.dist
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/botConfig.test.ts
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/cli.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/logger.ts
  validator-cli/src/watcher.ts
  validator-cli/tsconfig.json
Owners: @jaybuidl, @mani99brar

feat(validator): devent network support
  validator-cli/src/ArbToEth/claimer.test.ts
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
Owners: @jaybuidl, @mani99brar

fix: verifySnapshot time flag
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
Owners: @jaybuidl, @mani99brar

chore: outscoped claim fetch
  validator-cli/src/ArbToEth/claimer.test.ts
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/validator.test.ts
  validator-cli/src/ArbToEth/validator.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: refactor for networks
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/validator.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

feat: increased test coverage
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/errors.ts
Owners: @jaybuidl, @mani99brar

feat: happy path tests
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
Owners: @jaybuidl, @mani99brar

chore(validator): type params & refactor
  validator-cli/src/utils/epochHandler.ts
Owners: @jaybuidl, @mani99brar

feat: cli path tests
  validator-cli/src/utils/cli.test.ts
  validator-cli/src/utils/cli.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): remove old watcher
  validator-cli/src/watcherDevnet.ts
Owners: @jaybuidl, @mani99brar

fix(validator): existence check
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu
