Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

fix: solhint fixes, several events are renamed, contract redeploy needed
  .lintstagedrc.json
  .vscode/settings.json
  contracts/package.json
  contracts/src/arbitrumToEth/VeaOutboxArbToEth.sol
  contracts/src/arbitrumToGnosis/RouterArbToGnosis.sol
  contracts/src/arbitrumToGnosis/VeaOutboxArbToGnosis.sol
  contracts/src/gnosisToArbitrum/RouterGnosisToArb.sol
  contracts/src/gnosisToArbitrum/VeaOutboxGnosisToArb.sol
  contracts/src/interfaces/tokens/gnosis/IWETH.sol
  contracts/src/test/tokens/gnosis/MockWETH.sol
  contracts/src/utils/L1/veaOutboxMultiChallenge.sol
  contracts/src/utils/L1/veaOutboxMultiChallengeWETH.sol
  contracts/src/utils/optimistic-rollups/veaInboxSaveSnapshot.sol
  contracts/src/utils/veaInboxTouch.sol
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

[StepSecurity] Apply security best practices
  .github/workflows/codeql.yml
  .github/workflows/contracts-testing.yml
  .github/workflows/deploy-subgraph.yml
  .github/workflows/sentry-release.yml
Owners: @jaybuidl, @mani99brar

fix: contracts testing worflow
  .github/workflows/contracts-testing.yml
Owners: @jaybuidl, @mani99brar

fix: contracts testing worflow
  .github/workflows/contracts-testing.yml
Owners: @jaybuidl, @mani99brar

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/contracts-testing.yml
Owners: @jaybuidl, @mani99brar

chore: node bump from 18 to 22
  contracts/package.json
  package.json
  relayer-cli/package.json
  relayer-subgraph-inbox/package.json
  validator-cli/package.json
  veascan-subgraph-inbox/package.json
  veascan-subgraph-outbox/package.json
  veascan-web/package.json
Owners: @jaybuidl, @mani99brar, @alcercu

chore: graph dependencies bump
  README.md
  contracts/README.md
  relayer-cli/src/devnetRelayExample.ts
  relayer-subgraph-inbox/package.json
  veascan-subgraph-inbox/package.json
  veascan-subgraph-outbox/package.json
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

refactor(relayer-subgraph): support for multiple inboxes in the same subgraph deployment
  .vscode/settings.json
  relayer-subgraph-inbox/package.json
  relayer-subgraph-inbox/schema.graphql
  relayer-subgraph-inbox/scripts/update.sh
  relayer-subgraph-inbox/src/vea-inbox.ts
  relayer-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @mani99brar

feat: added script shortcuts for arbitrum
  relayer-subgraph-inbox/package.json
Owners: @jaybuidl, @mani99brar

fix(relayer-cli): references to the refactored relayer inbox subgraph
  relayer-cli/src/utils/proof.ts
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

docs: typo
  validator-cli/src/watcherDevnet.ts
Owners: @jaybuidl, @mani99brar

feat(contracts): npm package publication scripts, goerli cleanup, README population script
  contracts/.npmignore
  contracts/README.md.template
  contracts/deploy/01-outbox/01-arb-sepolia-to-chiado-outbox.ts
  contracts/deploy/01-outbox/01-arb-sepolia-to-sepolia-outbox.ts
  contracts/deploy/01-outbox/01-arb-to-eth-outbox.ts
  contracts/deploy/01-outbox/01-arb-to-gnosis-outbox.ts
  contracts/deploy/01-outbox/01-chiado-to-arb-sepolia-outbox.ts
  contracts/deploy/01-outbox/01-gnosis-to-arb-outbox.ts
  contracts/deploy/02-inbox/02-arb-to-gnosis-inbox.ts
  contracts/deploy/utils/getContractAddress.js
  contracts/deployments/arbitrumGoerli/.chainId
  contracts/deployments/arbitrumGoerli/VeaInboxArbToEthDevnet.json
  contracts/deployments/arbitrumGoerli/VeaInboxArbToEthTestnet.json
  contracts/deployments/arbitrumGoerli/VeaInboxArbToGnosisDevnet.json
  contracts/deployments/arbitrumGoerli/VeaInboxArbToGnosisTestnet.json
  contracts/deployments/arbitrumGoerli/VeaOutboxGnosisToArbDevnet.json
  contracts/deployments/arbitrumGoerli/VeaOutboxGnosisToArbTestnet.json
  contracts/deployments/goerli/.chainId
  contracts/deployments/goerli/RouterArbToGnosisDevnet.json
  contracts/deployments/goerli/RouterArbToGnosisTestnet.json
  contracts/deployments/goerli/RouterGnosisToArbDevnet.json
  contracts/deployments/goerli/RouterGnosisToArbTestnet.json
  contracts/deployments/goerli/VeaOutboxArbToEthDevnet.json
  contracts/deployments/goerli/VeaOutboxArbToEthTestnet.json
  contracts/package.json
  contracts/scripts/generateDeploymentsMarkdown.sh
  contracts/scripts/populateReadme.sh
  contracts/scripts/prepublish.sh
  contracts/tsconfig.publish.json
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: contracts release v0.5.0
  contracts/.npmignore
  contracts/package.json
Owners: @jaybuidl, @mani99brar

chore: update readme
  README.md
Owners: @jaybuidl, @mani99brar

feat: network support
  relayer-cli/.env.dist
  relayer-cli/src/consts/bridgeRoutes.ts
  relayer-cli/src/testnetRelayer.ts
  relayer-cli/src/utils/errors.ts
  relayer-cli/src/utils/relay.ts
  relayer-cli/src/utils/relayerHelpers.ts
Owners: @jaybuidl, @mani99brar

chore: update tests
  relayer-cli/src/utils/proof.ts
  relayer-cli/src/utils/relay.test.ts
Owners: @jaybuidl, @mani99brar

chore: rename relayer
  relayer-cli/src/devnetRelayExample.ts
  relayer-cli/src/relayer.ts
Owners: @jaybuidl, @mani99brar

fix: jest export module
  relayer-cli/jest.config.ts
Owners: @jaybuidl, @mani99brar

chore: migrate web3 & batcher
  relayer-cli/package.json
  relayer-cli/src/consts/bridgeRoutes.ts
  relayer-cli/src/utils/ethers.ts
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

feat: batcher logs
  relayer-cli/src/utils/botEvents.ts
  relayer-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore: batcher test update
  relayer-cli/src/utils/relay.test.ts
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

fix: relay deps
  relayer-cli/package.json
  relayer-cli/src/relayer.ts
Owners: @jaybuidl, @mani99brar

feat: multi network support
  validator-cli/.env.dist
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/botConfig.test.ts
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/cli.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/logger.ts
  validator-cli/src/watcher.ts
  validator-cli/tsconfig.json
Owners: @jaybuidl, @mani99brar

chore: refactor for networks
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/validator.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: devnet & testnet redeployments
  contracts/README.md
  contracts/deployments/arbitrumSepolia/VeaInboxArbToEthDevnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToGnosisDevnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToGnosisTestnet.json
  contracts/deployments/chiado/VeaOutboxArbToGnosisDevnet.json
  contracts/deployments/chiado/VeaOutboxArbToGnosisTestnet.json
  contracts/deployments/sepolia/RouterArbToGnosisDevnet.json
  contracts/deployments/sepolia/RouterArbToGnosisTestnet.json
  contracts/deployments/sepolia/VeaOutboxArbToEthDevnet.json
  contracts/src/arbitrumToEth/VeaOutboxArbToEth.sol
  contracts/src/arbitrumToGnosis/VeaOutboxArbToGnosis.sol
  contracts/src/devnets/arbitrumToEth/VeaOutboxArbToEthDevnet.sol
  contracts/src/devnets/arbitrumToGnosis/VeaOutboxArbToGnosisDevnet.sol
  contracts/src/devnets/gnosisToArbitrum/VeaOutboxGnosisToArbDevnet.sol
  contracts/src/gnosisToArbitrum/VeaOutboxGnosisToArb.sol
Owners: @jaybuidl, @mani99brar

chore: relayer subgraph update
  relayer-subgraph-inbox/package.json
  relayer-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @mani99brar

chore: contracts published
  contracts/package.json
Owners: @jaybuidl, @mani99brar

refactor(veascan-inbox-subgraph): support multiple inboxes
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/schema.graphql
  veascan-subgraph-inbox/scripts/update.sh
  veascan-subgraph-inbox/src/VeaInbox.ts
  veascan-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

refactor(veascan-subgraph-outbox): support multiple outboxes
  veascan-subgraph-outbox/package.json
  veascan-subgraph-outbox/schema.graphql
  veascan-subgraph-outbox/scripts/update.sh
  veascan-subgraph-outbox/src/VeaOutbox.ts
  veascan-subgraph-outbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

chore(veascan-subgraph-inbox): version update
  veascan-subgraph-inbox/package.json
Owners: @jaybuidl, @alcercu

chore(veascan-subgraph-outbox): update veaOutbox dep
  veascan-subgraph-outbox/src/VeaOutbox.ts
Owners: @jaybuidl, @alcercu

chore(veascan-subgraphs): devnet version update
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/subgraph.yaml
  veascan-subgraph-outbox/package.json
  veascan-subgraph-outbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

chore(relayer): checks to support pm2
  relayer-cli/src/relayer.ts
  relayer-cli/src/utils/botEvents.ts
  relayer-cli/src/utils/errors.ts
  relayer-cli/src/utils/ethers.ts
  relayer-cli/src/utils/logger.ts
  relayer-cli/src/utils/proof.ts
  relayer-cli/src/utils/relay.test.ts
  relayer-cli/src/utils/relay.ts
  relayer-cli/src/utils/relayerHelpers.ts
Owners: @jaybuidl, @mani99brar

chore(relayer): consts refactor
  relayer-cli/src/consts/bridgeRoutes.ts
Owners: @jaybuidl, @mani99brar

chore(relayer): dep bump
  relayer-cli/ecosystem.config.js
  relayer-cli/package.json
  relayer-cli/tsconfig.json
Owners: @jaybuidl, @mani99brar

feat: klerosV2 batcher
  contracts/src/utils/TransactionBatcher.sol
Owners: @jaybuidl, @mani99brar

chore(relayer): deps bump
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore(relayer): var cleanup
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

fix(relayer): typos
  relayer-cli/.env.dist
  relayer-cli/src/consts/bridgeRoutes.ts
  relayer-cli/src/utils/proof.ts
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

fix(relayer): default case
  relayer-cli/src/utils/ethers.ts
Owners: @jaybuidl, @mani99brar

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu
