Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu

chore(validator): udpdate rpc in env example
  validator-cli/.env.dist
Owners: @jaybuidl, @mani99brar

chore(validator): add custom error
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

feat(validator): subgraph fallback for contract logs
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/graphQueries.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): remove unsused vars
  validator-cli/.env.dist
  validator-cli/src/utils/botConfig.ts
Owners: @jaybuidl, @mani99brar

chore(validator): remove legacy devnet code
  validator-cli/src/devnet/arbToChiado/happyPath.ts
  validator-cli/src/devnet/arbToSepolia/happyPath.ts
  validator-cli/src/utils/devnet.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update tests for subgraph fallback
  validator-cli/src/utils/claim.test.ts
Owners: @jaybuidl, @mani99brar

fix(validator): claimable epoch calculation fix
  validator-cli/src/utils/epochHandler.test.ts
  validator-cli/src/utils/epochHandler.ts
Owners: @jaybuidl, @mani99brar

chore(validator): update pm2 config
  validator-cli/ecosystem.config.js
Owners: @jaybuidl, @mani99brar

chore(validator): pm2 bump & removed web3 dep
  validator-cli/ecosystem.config.js
  validator-cli/package.json
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/watcher.ts
  validator-cli/tsconfig.json
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore(validator): refactor for subgraph fallback
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/utils/claim.ts
Owners: @jaybuidl, @mani99brar

fix(validator): snapshot sent query fix
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore(validator): add no claim required log
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

fix(validator): add default cases
  validator-cli/src/utils/ethers.ts
Owners: @jaybuidl, @mani99brar

chore(validator): refactor into helper ftns
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix(validator): sonar review fixes
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/epochHandler.test.ts
Owners: @jaybuidl, @mani99brar

chore(veascan): add contract filters for graph queries
  veascan-web/src/hooks/queries/getInboxData.ts
  veascan-web/src/hooks/queries/getOutboxData.ts
Owners: @jaybuidl, @alcercu

fix(veascan): data render
  veascan-web/src/App.tsx
Owners: @jaybuidl, @alcercu

fix(veascan): pagination and secondary data
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

feat(veascan): current status
  veascan-web/src/utils/mapDataForAccordion.tsx
Owners: @jaybuidl, @alcercu

feat(veascan): network context
  veascan-web/src/contexts/FiltersContext.tsx
Owners: @jaybuidl, @alcercu

chore(veacan): refactor for network support
  veascan-web/src/consts/bridges.ts
  veascan-web/src/hooks/queries/getInboxData.ts
  veascan-web/src/hooks/queries/getOutboxData.ts
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

chore(veascan): generate gql for contracts filter
  veascan-web/src/gql/gql.ts
  veascan-web/src/gql/graphql.ts
Owners: @jaybuidl, @alcercu

chore((veascan): rename env vars
  veascan-web/.env.devnet.example
Owners: @jaybuidl, @alcercu

chore(veascan): update env var name
  veascan-web/codegen.ts
Owners: @jaybuidl, @alcercu

chore(veascan): network refactor
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/index.tsx
Owners: @jaybuidl, @alcercu

feat(veascan): multi network domain support
  veascan-web/src/App.tsx
  veascan-web/src/gql/gql.ts
Owners: @jaybuidl, @alcercu

chore(veascan): merge network configs
  veascan-web/.env.devnet.example
  veascan-web/.env.public
  veascan-web/package.json
  veascan-web/scripts/runEnv.sh
Owners: @jaybuidl, @alcercu

fix(veascan): refactor into helper
  veascan-web/src/utils/mapDataForAccordion.tsx
Owners: @jaybuidl, @alcercu

chore(veascan): testnet deploy preview
  veascan-web/src/App.tsx
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

chore(validator): add params as object
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore(validator): remove deprecated scripts
  validator-cli/package.json
Owners: @jaybuidl, @mani99brar

chore(validator): remove unused imports & vars
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/utils/epochHandler.test.ts
  validator-cli/src/utils/ethers.ts
Owners: @jaybuidl, @mani99brar

chore(contracts): testnet redeployments
  contracts/README.md
  contracts/deployments/arbitrumSepolia/VeaInboxArbToEthTestnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToGnosisTestnet.json
  contracts/deployments/chiado/VeaOutboxArbToGnosisTestnet.json
  contracts/deployments/sepolia/RouterArbToGnosisTestnet.json
  contracts/deployments/sepolia/VeaOutboxArbToEthTestnet.json
Owners: @jaybuidl, @mani99brar

fix(veascan): debounce search query endpoint
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

fix(veascan): debounced search query contract value
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

fix(veascan): disable statusFilter on search
  veascan-web/src/components/TxFilterHeader/FilterDropdown.tsx
  veascan-web/src/components/TxFilterHeader/index.tsx
  veascan-web/src/contexts/FiltersContext.tsx
Owners: @jaybuidl, @alcercu

chore(veascan): refactored nested operations
  veascan-web/src/hooks/useSnapshots.ts
Owners: @jaybuidl, @alcercu

chore: lock file
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: lock file
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: update subgraph config for redeployments
  relayer-subgraph-inbox/subgraph.yaml
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @mani99brar, @alcercu
