Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

chore: remove log & catch fallback
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/utils/arbToEthState.ts
Owners: @jaybuidl, @mani99brar

fix: block range offset & hard fallback
  validator-cli/src/utils/claim.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: rebase veascan subgraph fixes
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/src/VeaInbox.ts
  veascan-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

fix: seq offline flag & claim reinit
  validator-cli/src/utils/arbToEthState.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
Owners: @jaybuidl, @mani99brar

chore: use final toBlock
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: remove range for verification events
  validator-cli/src/utils/claim.ts
Owners: @jaybuidl, @mani99brar

chore: remove last claim conditions
  validator-cli/src/helpers/claimer.test.ts
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/helpers/snapshot.ts
  validator-cli/src/helpers/validator.ts
Owners: @jaybuidl, @mani99brar

fix: add lastClaim try catch
  validator-cli/src/helpers/claimer.ts
Owners: @jaybuidl, @mani99brar

fix: snapshot lastClaim try catch
  validator-cli/src/helpers/snapshot.ts
Owners: @jaybuidl, @mani99brar

fix: review changes
  package.json
  validator-cli/src/helpers/claimer.test.ts
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/helpers/snapshot.test.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/graphQueries.ts
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: update readme
  relayer-cli/README.md
  validator-cli/README.md
Owners: @jaybuidl, @mani99brar

fix: save snapshot comment
  contracts/src/arbitrumToEth/VeaInboxArbToEth.sol
  contracts/src/arbitrumToGnosis/VeaInboxArbToGnosis.sol
  contracts/src/gnosisToArbitrum/VeaInboxGnosisToArb.sol
Owners: @jaybuidl, @mani99brar

chore(contracts): update readme
  contracts/README.md
Owners: @jaybuidl, @mani99brar

feat: agnostic hashi executor
  relayer-cli/src/relayer.ts
  relayer-cli/src/utils/botEvents.ts
  relayer-cli/src/utils/hashi.ts
  relayer-cli/src/utils/hashiHelpers/bridgeRoutes.ts
  relayer-cli/src/utils/hashiHelpers/hashiTypes.ts
  relayer-cli/src/utils/relayerHelpers.ts
  relayer-cli/state/devnet_11155111.json
  relayer-cli/state/testnet_10200.json
  relayer-cli/state/testnet_42161.json
Owners: @jaybuidl, @mani99brar

chore: hashi executor cleanup
  relayer-cli/src/relayer.ts
  relayer-cli/src/utils/hashi.test.ts
  relayer-cli/src/utils/hashi.ts
  relayer-cli/src/utils/hashiHelpers/hashiTypes.ts
  relayer-cli/src/utils/logger.ts
  relayer-cli/src/utils/relayerHelpers.test.ts
  relayer-cli/src/utils/relayerHelpers.ts
  relayer-cli/state/devnet_11155111.json
  relayer-cli/state/testnet_10200.json
  relayer-cli/state/testnet_11155111.json
  relayer-cli/state/testnet_42161.json
Owners: @jaybuidl, @mani99brar

chore: update watcher cycle
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: update env example & readme
  relayer-cli/.env.dist
  relayer-cli/README.md
Owners: @jaybuidl, @mani99brar

chore: add arb story hashi route
  relayer-cli/src/utils/hashiHelpers/bridgeRoutes.ts
Owners: @jaybuidl, @mani99brar

fix: filter failing hashi msgs
  relayer-cli/src/utils/botEvents.ts
  relayer-cli/src/utils/hashi.ts
  relayer-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore: add arb story state file
  relayer-cli/state/testnet_1514.json
Owners: @jaybuidl, @mani99brar

chore: refactor contracts from hashi-lightbulb
  .gitmodules
  veashi-contracts/.env.example
  veashi-contracts/.github/workflows/test.yml
  veashi-contracts/README.md
  veashi-contracts/broadcast/1514-42161.json
  veashi-contracts/broadcast/42161-1514.json
  veashi-contracts/broadcast/421614-10200.json
  veashi-contracts/broadcast/421614-11155111.json
  veashi-contracts/foundry.lock
  veashi-contracts/foundry.toml
  veashi-contracts/package.json
  veashi-contracts/remappings.txt
  veashi-contracts/script/ccip/DeployCCIPAdapter.s.sol
  veashi-contracts/script/ccip/DeployCCIPReporter.s.sol
  veashi-contracts/script/deploy-route.sh
  veashi-contracts/script/generate-types.sh
  veashi-contracts/script/hashi/DeployYaho.s.sol
  veashi-contracts/script/hashi/DeployYaru.s.sol
  veashi-contracts/script/helpers/DeploymentState.sol
  veashi-contracts/script/layerZero/ConfigureLZReporter.s.sol
  veashi-contracts/script/layerZero/DeployLZAdapter.s.sol
  veashi-contracts/script/layerZero/DeployLZReporter.s.sol
  veashi-contracts/script/lightbulb/DeployLightbulb.s.sol
  veashi-contracts/script/lightbulb/DeploySwitch.s.sol
  veashi-contracts/script/vea/DeployVeaAdapter.s.sol
  veashi-contracts/script/vea/DeployVeaReporter.s.sol
  veashi-contracts/src/HashiLightbulb.sol
  veashi-contracts/src/HashiSwitch.sol
  veashi-contracts/src/chainlink/CCIPAdapter.sol
  veashi-contracts/src/chainlink/CCIPReporter.sol
  veashi-contracts/src/vea/VeaAdapter.sol
  veashi-contracts/src/vea/VeaReporter.sol
  veashi-contracts/src/vea/interfaces/IReceiverGateway.sol
  veashi-contracts/src/vea/interfaces/ISenderGateway.sol
  veashi-contracts/src/vea/interfaces/IVeaInbox.sol
Owners: @jaybuidl, @mani99brar

chore: refactor sdk from hashi-lightubl
  veashi-sdk/abi/CCIPAdapter.json
  veashi-sdk/abi/CCIPReporter.json
  veashi-sdk/abi/Hashi.json
  veashi-sdk/abi/LayerZeroAdapter.json
  veashi-sdk/abi/LayerZeroReporter.json
  veashi-sdk/abi/VeaAdapter.json
  veashi-sdk/abi/VeaReporter.json
  veashi-sdk/abi/Yaho.json
  veashi-sdk/abi/Yaru.json
  veashi-sdk/abiMapping.ts
  veashi-sdk/addresses/11155111-421614.json
  veashi-sdk/addresses/1514-42161.json
  veashi-sdk/addresses/42161-1514.json
  veashi-sdk/addresses/421614-10200.json
  veashi-sdk/addresses/421614-11155111.json
  veashi-sdk/getters.ts
  veashi-sdk/index.ts
  veashi-sdk/registry.ts
  veashi-sdk/types.ts
Owners: @jaybuidl, @mani99brar

chore: add veashi-contracts workspace
  package.json
Owners: @jaybuidl, @mani99brar

chore: commit lock file
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

fix: update relative imports
  veashi-contracts/script/generate-types.sh
Owners: @jaybuidl, @mani99brar

feat: ui chain helpers
  veashi-sdk/getters.ts
Owners: @jaybuidl, @mani99brar

chore: regen abis
  veashi-sdk/abi/Adapter.json
  veashi-sdk/abi/Reporter.json
Owners: @jaybuidl, @mani99brar

chore: add package
  veashi-sdk/index.ts
  veashi-sdk/package.json
  veashi-sdk/tsconfig.json
Owners: @jaybuidl, @mani99brar

chore: ignore sdk build
  .gitignore
Owners: @jaybuidl, @mani99brar, @alcercu

chore: add sdk workspace
  package.json
Owners: @jaybuidl, @mani99brar

chore: commit lockfile
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: ignore broadcast logs
  .gitignore
Owners: @jaybuidl, @mani99brar, @alcercu

chore: add deploy script
  veashi-contracts/package.json
Owners: @jaybuidl, @mani99brar

chore: add veashi contracts README
  veashi-contracts/README.md
Owners: @jaybuidl, @mani99brar

chore: add README
  veashi-sdk/README.md
Owners: @jaybuidl, @mani99brar

fix: bot review changes
  veashi-contracts/README.md
  veashi-contracts/script/ccip/DeployCCIPAdapter.s.sol
  veashi-contracts/script/ccip/DeployCCIPReporter.s.sol
  veashi-contracts/script/deploy-route.sh
  veashi-contracts/script/generate-types.sh
Owners: @jaybuidl, @mani99brar

feat: deBridge adapters
  veashi-contracts/src/deBridge/DeBridgeAdapter.sol
  veashi-contracts/src/deBridge/DeBridgeReporter.sol
  veashi-contracts/src/deBridge/interfaces/ICallProxy.sol
  veashi-contracts/src/deBridge/interfaces/IDeBridgeGate.sol
  veashi-contracts/src/deBridge/utils/Flags.sol
Owners: @jaybuidl, @mani99brar

feat: deBridge deploy scripts
  veashi-contracts/script/deBridge/DeployDeBridgeAdapter.s.sol
  veashi-contracts/script/deBridge/DeployDeBridgeReporter.s.sol
  veashi-contracts/script/deploy-route.sh
Owners: @jaybuidl, @mani99brar

chore: add story arb deBridge
  veashi-contracts/broadcast/1514-42161.json
Owners: @jaybuidl, @mani99brar

chore: update deBridge env
  veashi-contracts/.env.example
Owners: @jaybuidl, @mani99brar

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu
