Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu

chore(relayer-subgraph): update version
  relayer-subgraph-inbox/package.json
Owners: @jaybuidl, @mani99brar

feat(veascan-subgraphs): event handle for VerificationStarted
  veascan-subgraph-outbox/package.json
  veascan-subgraph-outbox/schema.graphql
  veascan-subgraph-outbox/src/VeaOutbox.ts
  veascan-subgraph-outbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

chore(veascan-inbox): rename taken to saved
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/schema.graphql
  veascan-subgraph-inbox/src/VeaInbox.ts
Owners: @jaybuidl, @alcercu

chore(veascan-web): update gql queires for var renames
  veascan-web/src/gql/gql.ts
  veascan-web/src/gql/graphql.ts
Owners: @jaybuidl, @alcercu

chore(veascan-web): update var names for verified & taken
  veascan-web/src/App.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/ColoredLabel.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/index.tsx
  veascan-web/src/components/TxFilterHeader/index.tsx
  veascan-web/src/hooks/queries/getInboxData.ts
  veascan-web/src/hooks/queries/getOutboxData.ts
  veascan-web/src/utils/mapDataForAccordion.tsx
Owners: @jaybuidl, @alcercu

chore(veascan-web): remove unused import
  veascan-web/src/utils/mapDataForAccordion.tsx
Owners: @jaybuidl, @alcercu

chore(veascan-inbox): refactor claim check
  veascan-subgraph-outbox/src/VeaOutbox.ts
Owners: @jaybuidl, @alcercu

chore(veascan-web): regen gql
  veascan-web/src/gql/gql.ts
Owners: @jaybuidl, @alcercu

feat: save snapshot
  validator-cli/src/utils/snapshot.test.ts
  validator-cli/src/utils/snapshot.ts
Owners: @jaybuidl, @mani99brar

feat(validator): subgraph snapshot queries
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore(validator): added snapshot logs
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

fix(validator): block offset increasing RPC limit
  validator-cli/src/utils/epochHandler.ts
Owners: @jaybuidl, @mani99brar

feat(validator): saveSnapshot in arb eth txn handler
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
Owners: @jaybuidl, @mani99brar

feat(validator): saveSnapshot in watcher
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: update hardhat toolchain
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/chai-setup.ts
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: add arbToGnosis config
  validator-cli/src/consts/bridgeRoutes.ts
Owners: @jaybuidl, @mani99brar

feat: chain agnostic helpers
  validator-cli/src/helpers/claimer.test.ts
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/helpers/snapshot.test.ts
  validator-cli/src/helpers/snapshot.ts
  validator-cli/src/helpers/validator.test.ts
  validator-cli/src/helpers/validator.ts
Owners: @jaybuidl, @mani99brar

feat: updated txn handlers
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.test.ts
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.test.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.test.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.ts
  validator-cli/src/utils/transactionHandlers/index.ts
Owners: @jaybuidl, @mani99brar

feat: arbToGnosis support
  validator-cli/src/utils/botConfig.test.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/graphQueries.ts
  validator-cli/src/utils/snapshot.test.ts
  validator-cli/src/utils/snapshot.ts
Owners: @jaybuidl, @mani99brar

chore: refactor for gnosis route
  validator-cli/src/ArbToEth/claimer.test.ts
  validator-cli/src/ArbToEth/claimer.ts
  validator-cli/src/ArbToEth/transactionHandler.test.ts
  validator-cli/src/ArbToEth/transactionHandler.ts
  validator-cli/src/ArbToEth/transactionHandlerDevnet.ts
  validator-cli/src/ArbToEth/validator.test.ts
  validator-cli/src/ArbToEth/validator.ts
  validator-cli/src/ArbToGnosis/watcherArbToGnosis.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: update env example
  validator-cli/.env.dist
Owners: @jaybuidl, @mani99brar

fix: router rpc
  validator-cli/src/helpers/validator.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix: challenge deposit withdrawal
  validator-cli/src/helpers/validator.ts
Owners: @jaybuidl, @mani99brar

fix: bot review fixes
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/helpers/validator.test.ts
  validator-cli/src/helpers/validator.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.test.ts
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.test.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.test.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.ts
  validator-cli/src/utils/transactionHandlers/index.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix: mapping key overlap
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: add chain validation
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/utils/botConfig.ts
  validator-cli/src/utils/errors.ts
Owners: @jaybuidl, @mani99brar

fix: review fixes
  validator-cli/src/utils/epochHandler.ts
  validator-cli/src/utils/graphQueries.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
Owners: @jaybuidl, @mani99brar

fix: approval & config
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
Owners: @jaybuidl, @mani99brar

chore(veascan-subgraph): add support for arbToGnosis
  veascan-subgraph-inbox/package.json
  veascan-subgraph-inbox/src/VeaInbox.ts
  veascan-subgraph-inbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

chore: update script for chain based config
  veascan-subgraph-outbox/scripts/update.sh
Owners: @jaybuidl, @alcercu

chore(veascan-subgraph): add outbox support for arbToGnosis
  veascan-subgraph-outbox/src/VeaOutbox.ts
  veascan-subgraph-outbox/subgraph.yaml
Owners: @jaybuidl, @alcercu

chore(veascan): add arbToGnosis config
  veascan-web/.env.public
  veascan-web/codegen.ts
  veascan-web/src/consts/bridges.ts
Owners: @jaybuidl, @alcercu

fix: script os dependency
  veascan-subgraph-outbox/scripts/update.sh
Owners: @jaybuidl, @alcercu

feat(validator): logatail pino support
  validator-cli/.env.dist
  validator-cli/package.json
  validator-cli/src/utils/env.ts
  validator-cli/src/utils/logger.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

feat(relayer): logtail pino support
  relayer-cli/.env.dist
  relayer-cli/package.json
  relayer-cli/src/relayer.ts
  relayer-cli/src/utils/env.ts
  relayer-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore: add lockfile
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

chore: update scorecards verson
  .github/workflows/scorecards.yml
Owners: @jaybuidl, @mani99brar

fix: revert upload-sarif bump
  .github/workflows/scorecards.yml
Owners: @jaybuidl, @mani99brar

chore: pin dep by hash
  .github/workflows/scorecards.yml
Owners: @jaybuidl, @mani99brar

chore: add catch for rejected heartbeat
  relayer-cli/src/relayer.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar
