Repository kleros/vea, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaybuidl, @mani99brar, @alcercu

.github/CODEOWNERS:

# Default
*                          @jaybuidl @mani99brar

# Veascan
veascan-subgraph-inbox/    @jaybuidl @alcercu
veascan-subgraph-outbox/   @jaybuidl @alcercu
veascan-web/               @jaybuidl @alcercu

# Owned by everyone
yarn.lock                  @jaybuidl @mani99brar @alcercu
.gitignore                 @jaybuidl @mani99brar @alcercu

feat: hashi helpers
  relayer-cli/src/utils/botEvents.ts
  relayer-cli/src/utils/hashi.test.ts
  relayer-cli/src/utils/hashi.ts
  relayer-cli/src/utils/hashiHelpers.ts
  relayer-cli/src/utils/hashiHelpers/abi.ts
  relayer-cli/src/utils/hashiHelpers/hashiMsgUtils.ts
  relayer-cli/src/utils/hashiHelpers/hashiTypes.ts
  relayer-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore: refactor gql queries
  relayer-cli/src/utils/graphQueries.ts
  relayer-cli/src/utils/relay.ts
Owners: @jaybuidl, @mani99brar

chore: add chiado hashi support
  relayer-cli/src/consts/bridgeRoutes.ts
Owners: @jaybuidl, @mani99brar

fix: save snapshot for missed claims
  validator-cli/src/helpers/snapshot.test.ts
  validator-cli/src/helpers/snapshot.ts
Owners: @jaybuidl, @mani99brar

chore: check withdrawal before all
  validator-cli/src/helpers/validator.ts
Owners: @jaybuidl, @mani99brar

chore: cleanup and tests
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

chore: update rpc range
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: bot review fixes
  relayer-cli/src/utils/graphQueries.ts
  relayer-cli/src/utils/hashi.ts
Owners: @jaybuidl, @mani99brar

fix: typo
  relayer-cli/src/utils/hashi.test.ts
  relayer-cli/src/utils/hashi.ts
Owners: @jaybuidl, @mani99brar

chore: rebase contracts
  contracts/deploy/01-outbox/01-arb-sepolia-to-chiado-outbox.ts
  contracts/deploy/01-outbox/01-arb-sepolia-to-sepolia-outbox.ts
  contracts/deploy/01-outbox/01-chiado-to-arb-sepolia-outbox.ts
  contracts/deploy/02-inbox/02-arb-sepolia-to-chiado-inbox.ts
  contracts/deploy/02-inbox/02-arb-sepolia-to-sepolia-inbox.ts
  contracts/deploy/02-inbox/02-chiado-to-arb-sepolia-inbox.ts
  contracts/deployments/arbitrumSepolia/VeaInboxArbToEthDevnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToEthTestnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToGnosisDevnet.json
  contracts/deployments/arbitrumSepolia/VeaInboxArbToGnosisTestnet.json
  contracts/deployments/chiado/VeaOutboxArbToGnosisDevnet.json
  contracts/deployments/chiado/VeaOutboxArbToGnosisTestnet.json
  contracts/deployments/sepolia/RouterArbToGnosisDevnet.json
  contracts/deployments/sepolia/RouterArbToGnosisTestnet.json
  contracts/deployments/sepolia/VeaOutboxArbToEthDevnet.json
  contracts/deployments/sepolia/VeaOutboxArbToEthTestnet.json
  contracts/hardhat.config.ts
  contracts/src/test/ArbitrumToEth/VeaOutboxMockArbToEth.sol
  contracts/test/integration/ArbToEth.ts
  contracts/test/integration/ArbToGnosis.ts
Owners: @jaybuidl, @mani99brar

chore: remove dev logs
  relayer-cli/src/utils/graphQueries.ts
  relayer-cli/src/utils/hashi.ts
Owners: @jaybuidl, @mani99brar

fix: executeable condition
  relayer-cli/src/utils/hashi.ts
Owners: @jaybuidl, @mani99brar

fix: validate txn hash
  relayer-cli/src/utils/hashi.ts
Owners: @jaybuidl, @mani99brar

feat: docker setup
  docker-compose.yml
  relayer-cli/Dockerfile
  validator-cli/Dockerfile
Owners: @jaybuidl, @mani99brar

chore: remove contract workspace & add ether dep
  relayer-cli/package.json
  validator-cli/package.json
Owners: @jaybuidl, @mani99brar

chore: update relative imports
  relayer-cli/src/consts/bridgeRoutes.ts
  relayer-cli/src/utils/ethers.ts
  relayer-cli/src/utils/graphQueries.ts
  validator-cli/src/consts/bridgeRoutes.ts
  validator-cli/src/helpers/claimer.ts
  validator-cli/src/helpers/snapshot.ts
  validator-cli/src/helpers/validator.ts
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/ethers.ts
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.test.ts
  validator-cli/src/utils/transactionHandlers/arbToEthHandler.ts
  validator-cli/src/utils/transactionHandlers/arbToGnosisHandler.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.test.ts
  validator-cli/src/utils/transactionHandlers/baseTransactionHandler.ts
Owners: @jaybuidl, @mani99brar

chore: conditional contract build
  relayer-cli/Dockerfile
  validator-cli/Dockerfile
Owners: @jaybuidl, @mani99brar

chore: remove dev comments
  validator-cli/src/helpers/snapshot.ts
Owners: @jaybuidl, @mani99brar

chore: refactor last msg query
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

fix: snapshot log index
  validator-cli/src/helpers/snapshot.ts
Owners: @jaybuidl, @mani99brar

feat: pino & struct logs
  validator-cli/package.json
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/logger.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

chore: remove pm2
  validator-cli/package.json
Owners: @jaybuidl, @mani99brar

chore: update node version
  package.json
  relayer-cli/Dockerfile
  validator-cli/Dockerfile
  yarn.lock
Owners: @jaybuidl, @mani99brar, @alcercu

feat: heartbeat
  relayer-cli/package.json
  relayer-cli/src/relayer.ts
  relayer-cli/src/utils/heartbeat.ts
  relayer-cli/state/devnet_11155111.json
  validator-cli/src/utils/heartbeat.ts
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix: image node version
  relayer-cli/Dockerfile
  validator-cli/Dockerfile
Owners: @jaybuidl, @mani99brar

feat: add inbox field in Message
  veascan-subgraph-inbox/schema.graphql
  veascan-subgraph-inbox/src/VeaInbox.ts
Owners: @jaybuidl, @alcercu

chore: try catch for lastSavedMessage ql query
  validator-cli/src/utils/errors.ts
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

fix: empty messages
  validator-cli/src/helpers/snapshot.ts
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

fix: skip challenge when finality issue
  validator-cli/src/helpers/validator.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

fix: update lastMessageResponse type
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

feat(relayer): pino
  relayer-cli/package.json
  relayer-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

fix: saveSnapshot comment
  contracts/src/arbitrumToEth/VeaInboxArbToEth.sol
  contracts/src/arbitrumToGnosis/VeaInboxArbToGnosis.sol
  contracts/src/gnosisToArbitrum/VeaInboxGnosisToArb.sol
Owners: @jaybuidl, @mani99brar

chore: batch ql claim query
  validator-cli/src/utils/claim.test.ts
  validator-cli/src/utils/claim.ts
  validator-cli/src/utils/graphQueries.ts
Owners: @jaybuidl, @mani99brar

feat: saveSnapshot if challenged
  validator-cli/src/helpers/snapshot.test.ts
  validator-cli/src/helpers/snapshot.ts
Owners: @jaybuidl, @mani99brar

chore: inc block range
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar

fix: finality logs & check
  validator-cli/src/utils/arbToEthState.ts
  validator-cli/src/utils/botEvents.ts
  validator-cli/src/utils/logger.ts
Owners: @jaybuidl, @mani99brar

chore: add finality return
  validator-cli/src/helpers/validator.ts
Owners: @jaybuidl, @mani99brar

chore: add pino dep
  relayer-cli/package.json
Owners: @jaybuidl, @mani99brar

chore: update ql url
  relayer-cli/src/utils/graphQueries.ts
  relayer-cli/src/utils/proof.ts
Owners: @jaybuidl, @mani99brar

fix: push latest claimable epoch
  validator-cli/src/watcher.ts
Owners: @jaybuidl, @mani99brar
