Repository kleros/vea, pull requests merged in 2023-05, with the labels that each got.

#166 chore(contracts): comment cleanup
  contracts/src/arbitrumToGnosis/RouterArbToGnosis.sol
Labels: Type: Documentation :books:, Package: Contracts

#191 docs: natspec for kleros/builder-baseline#7 and kleros/builder-baseline#2
  contracts/scripts/convertNatspecToTripleSlash.sh
  contracts/scripts/docPreprocess.sh
  contracts/src/arbitrumToEth/VeaInboxArbToEth.sol
  contracts/src/arbitrumToEth/VeaOutboxArbToEth.sol
  contracts/src/arbitrumToGnosis/RouterArbToGnosis.sol
  contracts/src/arbitrumToGnosis/VeaInboxArbToGnosis.sol
  contracts/src/arbitrumToGnosis/VeaOutboxArbToGnosis.sol
  contracts/src/arbitrumToOptimism/RouterArbToOp.sol
  contracts/src/arbitrumToOptimism/VeaInboxArbToOp.sol
  contracts/src/arbitrumToOptimism/VeaOutboxArbToOp.sol
  contracts/src/canonical/arbitrum/IArbSys.sol
  contracts/src/canonical/arbitrum/IBridge.sol
  contracts/src/canonical/arbitrum/IInbox.sol
  contracts/src/canonical/arbitrum/IOutbox.sol
  contracts/src/canonical/polygon/FxBaseChildTunnel.sol
  contracts/src/canonical/polygon/FxBaseRootTunnel.sol
  contracts/src/canonical/polygon/lib/MerklePatriciaProof.sol
  contracts/src/canonical/polygon/lib/RLPReader.sol
  contracts/src/devnets/arbitrumToEth/VeaOutboxArbToEthDevnet.sol
  contracts/src/devnets/arbitrumToGnosis/VeaOutboxArbToGnosisDevnet.sol
  contracts/src/interfaces/gateways/IReceiverGateway.sol
  contracts/src/interfaces/gateways/ISenderGateway.sol
  contracts/src/interfaces/inboxes/IVeaInbox.sol
  contracts/src/interfaces/outboxes/IVeaOutboxOnL1.sol
  contracts/src/interfaces/outboxes/IVeaOutboxOnL2.sol
  contracts/src/interfaces/routers/IRouterToL1.sol
  contracts/src/interfaces/routers/IRouterToL2.sol
  contracts/src/interfaces/types/VeaClaim.sol
  contracts/src/libraries/gnosis-chain/Bytes.sol
  contracts/src/merkle/MerkleProof.sol
  contracts/src/merkle/MerkleTree.sol
  contracts/src/test/ArbitrumToEth/VeaInboxMockArbToEth.sol
  contracts/src/test/ArbitrumToEth/VeaOutboxMockArbToEth.sol
  contracts/src/test/bridge-mocks/arbitrum/ArbSysMock.sol
  contracts/src/test/bridge-mocks/arbitrum/BridgeMock.sol
  contracts/src/test/bridge-mocks/arbitrum/InboxMock.sol
  contracts/src/test/bridge-mocks/arbitrum/OutboxMock.sol
  contracts/src/test/gateways/IReceiverGatewayMock.sol
  contracts/src/test/gateways/ReceiverGatewayMock.sol
  contracts/src/test/gateways/SenderGatewayMock.sol
  contracts/src/test/merkle/MerkleProofExposed.sol
  contracts/src/test/merkle/MerkleTreeExposed.sol
  contracts/src/utils/optimistic-rollups/veaInboxSaveSnapshot.sol
Labels: Type: Documentation :books:, Package: Contracts

#210 fix(web-veascan): fix code smells
  veascan-web/src/App.tsx
  veascan-web/src/components/Layout/Footer.tsx
  veascan-web/src/components/Layout/Navbar/Menu.tsx
  veascan-web/src/components/Layout/Navbar/SearchBar.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/AccordionBody.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/SnapshotDetails.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/TxCard.tsx
  veascan-web/src/utils/formatTimestampToHumanReadable.tsx
Labels: Package: VeaScan Web

#212 chore: refactor txcard for styled components
  veascan-web/src/components/SnapshotAccordion/AccordionBody/TxCard.tsx
Labels: Type: Enhancement :sparkles:, Package: VeaScan Web

#211 chore: refactored imports and interface namings
  veascan-web/src/components/FilterDropdown.tsx
  veascan-web/src/components/Layout/Footer.tsx
  veascan-web/src/components/Layout/Navbar/Menu.tsx
  veascan-web/src/components/Layout/Navbar/index.tsx
  veascan-web/src/components/Layout/index.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/AccordionBody.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/DisplayMessages.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/Message.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/MessageHeader.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/TxCard.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/AccordionTitle.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/ColoredLabel.tsx
  veascan-web/src/components/SnapshotAccordion/SnapshotAccordion.tsx
  veascan-web/src/components/TxFilterHeader.tsx
  veascan-web/src/consts/bridges.ts
  veascan-web/src/hooks/useMessages.ts
  veascan-web/src/hooks/useSnapshots.ts
  veascan-web/src/utils/mapDataForAccordion.tsx
Labels: Type: Maintenance :construction:, Package: VeaScan Web

#204 veascan web - refactor: renaming files to index and object destructuring
  veascan-web/src/App.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/SnapshotDetails.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/TxCard.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionBody/index.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/ChainAndAddress.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/Epoch.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/Timestamp.tsx
  veascan-web/src/components/SnapshotAccordion/AccordionTitle/index.tsx
  veascan-web/src/components/SnapshotAccordion/index.tsx
Labels: Type: Enhancement :sparkles:, Package: VeaScan Web
